@import "tailwindcss";

:root {
  --brand: #1d344a;
  --text: #2d3a4a;
  --input: #f7f6fa;
}

body {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #fff;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
  background-size: 200% auto;
}
